<div class="hd_weather_bar">

</div>
<div class="header">

	<a href="../index.html" class="logo_wrap">
		<img src="../images/logo.png" alt="">
	</a>

	<ul class="header_nav">
		<li><a href="../greeting.html">미래유산도시공주</a></li>
		<li><a href="../Business_Overview_1-1.html">사업소개</a></li>
		<li><a href="../Venue_Booking.html">문화참여</a></li>
		<li><a href="../Notice.html">커뮤니티</a></li>
		<li><a href="../Art_Market.html">온라인 그림상점로</a></li>
		<li><a href="../Future_Memory_Archiving.html">미래유산아카이빙</a></li>
	</ul>

	<div class="header_btn_wrap">
		<button class="btn_1 search_btn"><i class="xi-search"></i></button>
		<a href="../My_Page.html" class="btn_1 user_btn"><i class="xi-user-o"></i></a>
		<a href="../Login.html" class="btn_1 user_btn"><i class="xi-user-o"></i></a>
		<button class="btn_2 Sitemap_btn"><i class="xi-bars"></i></button>
	</div>

	<!-- 검색창 -->
	<div class="search_wrap">
		<input type="text" name="" id="" placeholder="찾으시는 정보가 있으신가요?">
		<button><i class="xi-search"></i></button>
	</div>

	<!-- sns -->
	<ul class="sns_ul">
		<li><a href="https://www.instagram.com/gjccc_2021/" target="_blank"><img src="../images/sns_Instagram.png" alt=""></a></li>
		<li><a href="https://www.youtube.com/@user-hg4ev8do9e" target="_blank"><img src="../images/sns_YouTube.png" alt=""></a></li>
		<li><a href="https://www.facebook.com/gjccc2021" target="_blank"><img src="../images/sns_Facebook.png" alt=""></a></li>
	</ul>

</div>

<!-- 사이드바 -->
<div class="Sitemap_wrap">

	<div class="Sitemap_top">
		<div class="Sitemap_top_le">
			<div class="translation_wrap">

				<div class="now_Language_wrap">
					<div class="now_Language">
						<img src="./images/Korea.jpg" alt="">
						<p>한국어</p>
					</div>
					<i class="xi-angle-down-min"></i>
				</div>

				<ul class="Language_list">
					<li>
						<img src="./images/Korea.jpg" alt=""><span>한국어</span>
					</li>
					<li>
						<img src="./images/1408381.png" alt=""><span>English</span>
					</li>
					<li>
						<img src="./images/gb66_3_i1.jpg" alt=""><span>中国话</span>
					</li>
					<li>
						<img src="./images/gb44_3_i1.jpg" alt=""><span>Tiếng Việt</span>
					</li>
					<li>
						<img src="./images/gb40_4_i1.jpg" alt=""><span>Монгол хэл</span>
					</li>
					<li>
						<img src="./images/gb57_4_i1.jpg" alt=""><span>O'zbek tili</span>
					</li>
					<li>
						<img src="./images/gb72_4_i1.png" alt=""><span>ภาษาไทย</span>
					</li>
					<li>
						<img src="./images/gb63_4_i1.png" alt=""><span>日本語</span>
					</li>
				</ul>
			</div>
			<div class="sns_wrap">
				<a href="https://www.instagram.com/gjccc_2021/" target="_blank" class="sns_Instagram"></a>
				<!-- <a href="" class="sns_Blog"></a> -->
				<a href="https://www.youtube.com/@user-hg4ev8do9e" target="_blank" class="sns_YouTube"></a>
				<a href="https://www.facebook.com/gjccc2021" target="_blank" class="sns_Facebook"></a>
			</div>
		</div>
		<div class="Sitemap_top_ri">
			<!-- <button class="Intro_page_btn">인트로페이지 <i class="xi-angle-right-thin"></i></button> -->
			<a href="../index-p2.html" class="Intro_page_btn flex-ct">인트로페이지 <i class="xi-angle-right"></i></a>
			<button class="close_Sitemap"><i class="xi-angle-right"></i></button>
		</div>
	</div>

	<div class="Sitemap_nav_wrap">
		<div class="container">
			<ul class="Sitemap_nav">
				<li>
					<h2>미래유산도시공주</h2>
					<ul>
						<li><a href="../greeting.html">인사말</a></li>
						<li><a href="../history.html">연혁 및 비전미션</a></li>
						<li><a href="../organizational_chart.html">조직도</a></li>
						<li><a href="../BI_Introduction.html">BI소개 및 마스코트</a></li>
						<li><a href="../directions.html">오시는 길</a></li>
						<li><a href="../Committee.html">활동기록단</a></li>
					</ul>
				</li>
				<li>
					<h2>사업소개</h2>
					<ul>
						<li><a href="../Business_Overview_1-1.html">문화시스템 구축</a></li>
					</ul>
				</li>
				<li>
					<h2>문화참여</h2>
					<ul>
						<!-- <li><a href="">참여신청</a></li> -->
						<li><a href="../Venue_Booking.html">공간대관</a></li>
						<!-- <li><a href="">공모사업 참여</a></li> -->
					</ul>
				</li>
				<li>
					<h2>커뮤니티</h2>
					<ul>
						<li><a href="../Notice.html">공지사항</a></li>
						<li><a href="../Cultural_Calendar.html">문화캘린더</a></li>
						<li><a href="../YouTube_video.html">유튜브영상</a></li>
						<li><a href="../Press_Release.html">보도자료</a></li>
						<li><a href="../Event_Schedule.html">행사일정</a></li>
						<!-- <li><a href="">E-book</a></li> -->
					</ul>
				</li>
				<li>
					<h2>온라인 그림상점로</h2>
					<ul>
						<li><a href="../Art_Market.html">온라인 그림상점로</a></li>
					</ul>
				</li>
				<li>
					<h2>미래기억 아카이빙</h2>
					<ul>
						<li><a href="../Future_Memory_Archiving.html">미래유산아카이빙</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</div>


<script>
	$(document).ready(function() {

		// 헤더 엘리먼트 선택
		var header = $(".header");

		// 스크롤 이벤트 처리
		$(window).scroll(function() {
			// 스크롤 위치 확인
			var scrollPosition = $(window).scrollTop();

			// 최상단에 도달한 경우 클래스 추가
			if (scrollPosition === 0) {
				header.removeClass("at-top");
			} else {
				header.addClass("at-top");
			}
		});



		// search_btn 클릭 이벤트 처리
		$(".search_btn").click(function(event) {
			event.stopPropagation(); // 이벤트 전파를 막음
			$(".search_wrap").toggleClass("open");
		});
	
		// 문서 전체 클릭 이벤트 처리
		$(document).click(function(event) {
			if (!$(event.target).closest('.search_wrap').length && $('.search_wrap').hasClass('open')) {
				$(".search_wrap").removeClass("open");
			}
		});


		// 사이드바 
		$(".Sitemap_btn").click(function () {
			$(".Sitemap_wrap").addClass("open");
			$(".close_Sitemap").click(function () {
				$(".Sitemap_wrap").removeClass("open");
			})
		})
	});

	$(document).ready(function() {
		$(".now_Language_wrap").click(function() {
			$(".translation_wrap").toggleClass("open");
		});

		$(".Language_list li").click(function() {
			const imgSrc = $(this).find("img").attr("src");
			const languageName = $(this).text().trim();

			$(".now_Language").html(`<img src="${imgSrc}" alt=""><p>${languageName}</p>`);
			$(".translation_wrap").removeClass("open");
		});
	});
</script>