<div class="footer">
	<div class="ft_logo_list">
		<a href=""><img src="../images/bi_2.png" alt=""></a>
		<a href=""><img src="../images/logo.png" alt=""></a>
	</div>

	<select name="" id="">
		<option value="">문화체육관광부</option>
		<option value="">지역문화진흥원</option>
		<option value="">충남도청</option>
		<option value="">공주시</option>
	</select>

	<ul class="ft_sns_list">
		<li><a href="https://www.instagram.com/gjccc_2021/" target="_blank"><img src="../images/sns_Instagram.png" alt=""></a></li>
		<li><a href="https://www.youtube.com/@user-hg4ev8do9e" target="_blank"><img src="../images/sns_YouTube.png" alt=""></a></li>
		<li><a href="https://www.facebook.com/gjccc2021" target="_blank"><img src="../images/sns_Facebook.png" alt=""></a></li>
	</ul>

	<ul class="Information_list">
		<li>(32535) 충청남도 공주시 고마나루길 90(웅진동)아트센터고마 3F</li>
		<li>문화정책팀 : 041-852-6037</li>
		<li>시민문화팀 : 041-852-9802</li>
		<li>문화플랫폼팀 : 041-852-9801</li>
	</ul>

	<p class="COPYRIGHT">COPYRIGHT @ 공주시문화도시센터 ALL RIGHTS RESERVED.</p>
</div>